

<div class="movie-container row">
  <h1> Featured Movies </h1>
  <div 
      class="column" 
      *ngFor="let movie of featuredList"
    >
      <img 
        class="img-thumbnail blur"
        src="{{ movie.Poster }}" 
        width="189.33" 
        height="280.2" 
      >
      <span>
       <p class="overflow-text"> {{ movie.Title + " " + movie.Runtime}}</p>
      </span>
  </div>
</div>

<form class="form-inline container-fluid">
    <div class="form-group">
      <input 
            
            class="form-control"
            placeholder="Enter search string"
            [formControl]="searchField">
    </div>
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="searchField.invalid"
      (click)="getInput(searchField.value)"
    >Search</button>
  </form>


<div class="movie-container row">
  <h1> Search Results </h1>
  <div 
      class="column" 
      *ngFor="let movie of movieResults"
    >
      <img 
        class="img-thumbnail blur"
        src="{{ movie.Poster }}" 
        width="189.33" 
        height="280.2" 
      >
      <span>
       <p class="overflow-text"> {{ movie.Title + " " + movie.Runtime}}</p>
      </span>
  </div>
</div>